<div id="bdiv" >
	<div id="bdiv2">
		<div id="cdiv">
			<h1 class="fwhite"><%=image_tag 'home/logo_full.png' ,width:'30%' %></h1>
			
			<div class="hot-container">
				<p>
					<a class="btn btn-default myButton" href="about.html" class="menuBtn" >&nbsp;About&nbsp;</a>
					&nbsp;&nbsp;
					<a class="btn btn-default myButton" href="project.html" class="menuBtn">Project</a>
					
				</p>
			</div>
			<!--<button class="btn btn-success btn-lg" >Start</button> -->
		</div>
	</div>
</div>


<script>
	$(".myButton").click(function(){
				
				
				 window.location.reload();
			})
</script>