<div id="bdiv">
	<div id="bdiv2">
		<div id="cdiv">
			<h1 class="fwhite"><%=image_tag 'home/logo.png' ,width:'50%' %></h1>
			
			<div class="hot-container">
				<p>
					<a class="btn btn-default" href="about.html" class="menuBtn" >&nbsp;About&nbsp;</a>
					<a class="btn btn-default" href="project.html" class="menuBtn">Project</a>
				</p>
			</div>
			<!--<button class="btn btn-success btn-lg" >Start</button> -->
		</div>
	</div>
</div>



