<!-- 헤더바 부분 -->
<header id="top" class="navbar" role="banner">
		<div class="container">
			<div class="inner">

				<div class="site-title">
					<h1><a href="index.html"><%= image_tag 'logo.png', width:'144', height:'52', alt:'Logo' %></a></h1>
					<a href="#site-menu" class="site-menu-toggle">
						<span class="sr-only">Toggle navigation</span>
						<em class="first"></em><em class="middle"></em><em class="last"></em>
					</a>
				</div>

				<div id="site-menu">
					<nav>
						<ul>
							<li ><a href="index.html" class="menuBtn">Home</a></li>
							<li><a href="about.html" class="menuBtn">About</a></li>
							<li class="current-menu-item" class="menuBtn"><a href="project.html">Project</a></li>
							<li><a href="item.html" class="menuBtn">HanNol</a></li>
							<li><a href="media.html" class="menuBtn">Media</a></li>
							<li><a href="contact.html" class="menuBtn">Contact</a></li>
							
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>
<!-- 헤더바 부분 종료 -->

<!-- 메인 부분 시작 -->

<main id="content" role="main">
		<div class="container container-masonry">
			<div class="inner">
				<div class="row">
					<div class="box col-sm-4 col-md-6">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/1/main.jpg" alt="" width="715" height="715">
									<span class="info"><strong class="title">해방촌 청소년 강의</strong><span class="excerpt">해방촌 주민 커뮤니티 '달꽃창작소'의 학생들과 함께 마을 해설프로그램 진행</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/2/main.jpg" alt="" width="434" height="434">
									<span class="info"><strong class="title">해방촌 마을지도 제작</strong><span class="excerpt">이색적인 스팟과 재미난 테마 코스, 특색 있는 상가들이 한데 어우러져 있는 해방촌 마을지도</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/3/main.jpg" alt="" width="434" height="434">
									<span class="info"><strong class="title">해방촌 마을축제 기획</strong><span class="excerpt">학생들부터 노인까지 주민 모두가 축제 주최자이자 참가자가 되는 공존 페스티벌</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/4/main.jpg" alt="" width="434" height="434">
									<span class="info"><strong class="title">온라인 취미공유 플랫폼 ‘UNIVALUE' 제작</strong><span class="excerpt">이곳에서 우리는 서로의 생각과 가치를 공유하며 이해하고 그를 통해 함께 성장해나갑니다</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/5/main.jpg" alt="" width="715" height="715">
									<span class="info"><strong class="title">천안 원도심 활성화 프로젝트</strong><span class="excerpt">골목길 플레이 디렉터 지역콘텐츠 기획 프로젝트</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/6/main.jpg" alt="" width="434" height="434">
									<span class="info"><strong class="title">전주 한옥마을 ‘달달수월래’ 퍼레이드 기획</strong><span class="excerpt">전주한옥마을의 멋스러움과 우리나라 전통놀이 강강술래를 알리는 제1회 ‘달달수월래’ 축제</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/7/main.jpg" alt="" width="434" height="434">
									<span class="info"><strong class="title">전주 한옥마을 문화공간 ‘한복길’ 기획</strong><span class="excerpt">먹거리와 지루함에 숨겨진 한옥마을의 골목길과 우리의 아름다운 전통 의복 한복과의 만남 </span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/8/main.jpg" alt="" width="434" height="434">
									<span class="info"><strong class="title">2016 남서울대학교 한복축제</strong><span class="excerpt">한복과 할로윈의 만남<br>2016 남서울대 한복축제 ‘한로윈’</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/9/main.jpg" alt="" width="715" height="715">
									<span class="info"><strong class="title">2016 백석대학교 한복축제</strong><span class="excerpt">한복과 백의민족의 만남<br>2016 백석대학교 한복축제 ‘한복판’</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/10/main.jpg" alt="" width="715" height="715">
									<span class="info"><strong class="title">전주문화공간 '한복길' 테마지도&캐릭터 제작</strong><span class="excerpt">전주한옥마을 문화공간 ‘한복길’<br>7가지 테마코스 ‘한복길’ 테마지도</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a href="project.html">
									<img src="../assets/project/11/main.jpg" alt="" width="715" height="715">
									<span class="info"><strong class="title">천사책(천안사람들이야기책)</strong><span class="excerpt">“우리 이웃들의 이야기가 모이면 어떤 재미난 일이 일어날까?”<br>우리 지역 개인들의 이야기가 담겨있는 책입니다.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</main>





<!-- 메인 부분 종료 -->

<!-- 푸터바 부분 -->
	<footer id="footer" role="contentinfo">
		<div class="container">
			<p>
				<a href="index.html" class="mini-logo"><%= image_tag 'logo-footer.png', width:'90', height:'33', alt:'Logo' %></a>
			</p>
			<p>&copy; <b>AnT</b> 대표 임희용 │ 사업자등록번호. 722-09-00160
			<br>OFFICE. 천안 서북구 성환읍 대학로 91 남서울대학교 지식정보관 328호
			<br>Email. antcultures@gmail.com │ TEL. 010-8761-4235 </p>
			<p></p>
			<p>
				
				<a href="contact.html" class="social-link"><i class="fa fa-address-book"></i></a>
				<a href="https://www.youtube.com/channel/UCdJkxbgtoBqsXBFcQY9yhTA" class="social-link"><i class="fa fa-youtube-play"></i></a>
				<a href="https://www.facebook.com/AlleyNT/?fref=ts" class="social-link"><i class="fa fa-facebook"></i></a>
			</p>
		</div>
	</footer>
<!--푸터바 부분 종료 -->



<script>
	
	$(".menuBtn").click(function(){
			 window.location.reload();
		})
</script>