<!DOCTYPE html>
<html>
<head>
  
  
  <meta charset="utf-8">
	<title>AnT - alleytainment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Exa is fully responsive creative agency/freelancer portfolio HTML site template that looks great on any device.">
	<meta name="keywords" content="Exa, HTML5, Template, Design, Development">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  
</head>
<body>

<%= yield %>

<script src="https://use.fontawesome.com/17760246f0.js"></script>

</body>
</html>
