<!DOCTYPE html>
<html>
<head>
  
  
  <meta charset="utf-8">
	<title>AnT - alleytainment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/favicon-c66701f3d16edb0970209edeed62e071c06a72801d0d4aed89eddc5f8b24a096.png">
	<meta name="description" content="Exa is fully responsive creative agency/freelancer portfolio HTML site template that looks great on any device.">
	<meta name="keywords" content="Exa, HTML5, Template, Design, Development">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  
</head>
<body>

<%= yield %>

<script src="https://use.fontawesome.com/17760246f0.js"></script>

<script>
    $(document).ready(function(){
        $('body').append(
            '<div id="toTop"><i class="fa fa-angle-double-up"></i></div>');
        $("#toTop").bind("click", function () {$("body").animate({ scrollTop: 0 }, 200);}); $(window).scroll(function () { if ($(this).scrollTop() != 0) { $('#toTop').fadeIn(); } else { $('#toTop').fadeOut(); } }); }); 

</script>
</body>
</html>
